/* Place custom CSS styling for enhancedgrid widget at runtime in this file */

.widget-enhancedgrid td.clickable, .widget-enhancedgrid td.editable {
	cursor: pointer;
}


/* Datatable header customisation */
.widget-enhancedgrid th {
	background-color: #00205b;
	color: white;
	border: 1px solid white;
}

.widget-enhancedgrid .dataTables_scrollBody {
	border: none !important;
}
/* End Datatable header customisation */



/* Tooltips */
.widget-enhancedgrid .tooltip-content {
	display: none;
}

/* End Tooltips */

