.widget-enhancedgrid-helper {
    background:url(resources/default_widget_icon.png) no-repeat #dceaf8 center center;
    width:480px;
    height:240px;
}

.widget-enhancedgrid {
	background-color:#dceaf8;
	color:#4975A1;
	font-weight:bold;
}

.widget-enhancedgrid span {
	background:url(resources/default_widget_icon.png) no-repeat top center;
	display:inline-block;
	padding-top:34px;
	text-shadow:1px 1px 1px #fff;
}
